<html>
<head>
	<title>Caffe Cocina Events</title>
  
  <style type="text/css">
      .calendar{
        max-width: 800px;
        margin: 0 auto;
      }
      iframe{
        margin-top: 50px;
      }
      .underline{
        text-decoration: underline;
        font-weight: bold;
      }
      #dailySpecialRow{
        margin-top: 25px;
      }
      .dailySpecials{
        margin-top: 2px;
        margin-bottom: 0px;
        font-weight: bold;
      }

  </style>

</head>
<body>

<html>
<head>
	<title>Merchandise</title>

</head>

<body class='backboardBody'>


  <!-- HEADER/NAVBAR -->
  <div class='col-xs-12 navbarHeader navbar-default'>
    
    <div class='col-xs-2 navbarLogo' data-toggle='collapse' data-target='#theList'>
    </div>

  
    
    <div class='col-xs-5 col-xs-offset-1 col-lg-offset-2 navbarLink navbarBack collapse navbar-collapse' id='theList'>
      <ul class='centerItem listItems'>
        <li class='navLinks navLinkBack navLinkOff'><a class='navLinkColorOff' href='/landings'>Home</a></li>
        
        <li class='dropdown navLinks navLinkBack navLinkOff'>
          <a href="#" class='dropdown-toggle listLinkColor' data-toggle='dropdown' role='button' aria-expanded='false'>About</span><span class="caret"></span></a>
          <ul class='dropdown-menu' role='list'>
            <li class='navLinksDropdown '><a class='navLinksDropdownColor' href='/ourstory'>Our Story</a></li>
            <li class='navLinksDropdown '><a class='navLinksDropdownColor' href='/photo_albums'>Photos</a></li>
          </ul>
        </li>

        <li class='dropdown navLinks navLinkBack navLinkOff'>
          <a href="#" class='dropdown-toggle listLinkColor' data-toggle='dropdown' role='button' aria-expanded='false'>Menu<span class="caret"></span></a>
          <ul class='dropdown-menu' role='list'>
            <li class='navLinksDropdown'><a class='navLinksDropdownColor' href='/menus'>Caffe Menu</a></li>
            <li class='navLinksDropdown'><a class='navLinksDropdownColor' href='/catering'>Catering</a></li>
          </ul>
        </li>

        <li class='navLinks navLinkBack navLinkOn'><a class='navLinkColorOn' href='/events'>Events</a></li>
        <li class='navLinks navLinkBack navLinkOff'><a class='navLinkColorOff' href='/contacts'>Contact</a></li>

        <li class='navLinks navLinkBack navLinkOff'><a class='navLinkColorOff' href='/reviews'>Reviews</a></li>
        <li class='navLinks navLinkBack navLinkOff'><a class='navLinkColorOff' href='/merchandise'>Store</a></li>
      </ul>
    </div>
    <button class='pull-right toggleBox collapsed navbar-toggle navbar-collapse' data-toggle='collapse' data-target='#theList'>
        <span class="fa fa-bars fa-lg"></span>
    </button>
  </div>
  <!-- END HEADER/NAVBAR -->

  <!-- Daily Specials -->
    <div class='col-xs-12 centerText' id='dailySpecialRow'>
      <ul>
        <p class='underline'>  Daily Drink Specials:</p>
        <p class='dailySpecials'>Monday: Mocha Monday</p>
        <p class='dailySpecials'>Tuesday: Dollar Drip Day</p>
        <p class='dailySpecials'>Wednesday: Double Punch Day</p>
        <p class='dailySpecials'>Thursday: Free Extra Shot </p>
        <p class='dailySpecials'>Friday: Free Flavor Day</p>
      </ul>
    </div>
  <!-- END Daily Specials -->


  <!-- Event Calendar -->
  <div class='calendar'>
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=caffecocinapoulsbo%40gmail.com&amp;color=%23711616&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <!-- END Event Calendar -->


</body>

</html>


</body>
</html>