// Place all the styles related to the Admin_Drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.drinkCategory{
	margin-left: 10px;
	text-decoration: underline;
}

	.drinkSubCategory{
	margin-left: 25px;
	text-decoration: underline;
	}
		.drinkTitle{
			margin-left: 40px;
		}